<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" data-th-href="@{/CSS/footer.css}">
<body style="margin: 0; padding: 0;">
    <footer class="footer-style" th:fragment="footer">
    <div class="footer-info">
        <p>© 2015-2024 | UNJu Virtual - Educación a Distancia</p>
        <div class="footer-links">
            <a href="http://www.unju.edu.ar" target="_blank">Visítanos: http://www.unju.edu.ar</a>
            <a href="mailto:virtual@unju.edu.ar">Escríbenos: virtual@unju.edu.ar</a>
            <a href="tel:0388154708223">Llámanos: 0388 - 154708223</a>
        </div>
            <p>©Trabajo Practico Grupal N°215: Cachi, Vladimir y Vedia Luciana</p>
            <p>©Escuela de Minas "Dr. Horacio Carrillo" 2024</p>
        </div>
    </footer>
</body>
</html>