<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Footer de Pagina</title>
</head>
<body>
	<div class="row" data-th-fragment="footer">
			
			<div class="pie-pagina col-4">
			<h3 class="tit-footer">FACULTAD DE INGENIERIA - UNju</h3>
				<ul class="ulist">
					<li>Italo Palanca Nº10
					<li>San Salvador de Jujuy, Jujuy - Argentina
					<li> <a href="#">info@fi.unju.edu.ar</a>
				</ul>
			<h3 class="tit-footer">Aviso Legal</h3>
				<ul class="ulist">
					<li>Terminos Y Condiciones
					<li>Condiciones del Uso del Correo Electrónico
				</ul>
			</div>
			
			
			<div class="pie-pagina col-4" >
				<h3 class="tit-footer">Redes Sociales</h3>
					<ul class = "ulist">
					<li><a href = "https://www.instagram.com/java_programming_basics/" class="nav-link">Instagram</a>
					<li><a href = "https://www.facebook.com/?locale=es_LA" class="nav-link">Facebook</a>
					<li><a href = "https://twitter.com/?lang=es" class="nav-link">Twitter</a>
					</ul>
			</div>
			
			<div class="pie-pagina col-4" >
				<h3 class="tit-footer">Enlaces de Interés</h3>
					<ul class = "ulist-1">
					<li><a href = "" class="nav-link">Teléfonos</a>
					<li><a href = "" class="nav-link">Modelos de Notas</a>
					<li><a href = "" class="nav-link">SIU Guaranír</a>
					<li><a href = "" class="nav-link">Campus FI</a>
					<li><a href = "" class="nav-link">Protocolos de Bioseguridad</a>
					<li><a href = "" class="nav-link">Doctorado en Ingeniería Industrial</a>
					</ul>
			</div>
			<div class="copyright">
				<p>&copy; 2024 Elias Jarma. Todos los derechos reservados.</p>
			</div>
		</div>
</body>
</html>