<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/images/favicon.png" rel="shortcut icon" type="image/vnd.microsoft.icon">
<title>Document</title>
<link rel="stylesheet" data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" data-th-href="@{/CSS/header.css}">
</head>
<body style="margin: 0; padding: 0;">
    <header class="header-style" th:fragment="header">
    <h1>Facultad de Ingeniería</h1>
    <p class="university-motto">Le damos la Bienvenida a la Universidad Nacional de Jujuuy</p>
    <nav class="navbar">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">&#9776;</span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Carreras</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Materias</a></li>
					<li class="nav-item dropdown"><a class="nav-link dropdown-toggle navbar-hover" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Gestion</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/docente/listaDocentes">Docentes</a></li>
							<li><a class="dropdown-item" href="/alumno/listaAlumnos">Alumnos</a></li>
							<li><a class="dropdown-item" href="/materia/listadoMaterias">Materia</a></li>
							<li><a class="dropdown-item" href="/carrera/listaCarreras">Carrera</a></li>							
						</ul>
					</li>
				</ul>
            </div>
           </div>
        </nav>
    </header>
</body>
</html>
