<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Docente</title>
    <link rel="stylesheet" data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link href="/images/favicon.png" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <!-- Carga de la hoja de estilos personalizada -->
    <link rel="stylesheet" type="text/css" data-th-href="@{/css/styles.css}">
</head>
<body>
<div class="container">
	<div class="row"><header data-th-replace="~{fragments/header::header}"></header> </div>
	<div class="row mt-5">
			<h2 th:text="${isEdit} ? 'Modificar Materia' : 'Formulario de Materia'"></h2>
			<form class="row g-3" data-th-action="@{/materia/guardarMateria}" data-th-object="${materia}" method="post" >
				
				<div class="form-floating col-md-3">
					<input type="text" class="form-control" id="nombre" name="nombre" data-th-field="*{nombre}" placeholder="name@example" required>
					<label for="nombre" class="form-label">Nombre</label>
				</div>
				<div class="form-floating col-md-3">
					<input type="text" class="form-control" id="curso" name="curso" data-th-field="*{curso}" placeholder="name@example" required>
					<label for="curso" class="form-label">Curso</label>
				</div>
				<div class="form-floating col-md-3">
					<input type="number" class="form-control" id="duracion" name="duracion" data-th-field="*{cantidadHoras}" placeholder="name@example" required>
					<label for="duracion" class="form-label">Duración</label>
				</div>
				<div class="form-floating col-md-3">
					<select class="form-select" id="modalidad" data-th-field="*{modalidad}">
								<option value="Seleccionar modalidad">Seleccionar modalidad</option>
								<option value="Presencial">Presencial</option>
								<option value="Virtual">Virtual</option>
								<option value="Mixta">Mixta</option>
					</select>
					<label for="modalidad" class="form-label">Modalidad</label>
				</div>
				
				<div>
					<input type="hidden" class="form-control" id="codigo" name="codigo"data-th-field="*{codigo}" >
				</div>
				
				<div>
                <input type="hidden" class="form-control" id="estado" name="estado" data-th-field="*{estado}">
            	</div>
				
				<div class="col-12 d-flex justify-content-center gap-2">
					<input type="submit" class="btn btn-lg btn-success" th:value="${isEdit} ? 'Modificar' : 'Agregar'">
					<a class="btn btn-lg btn-secondary" href="/materia/listadoMaterias">Regresar</a>
				</div>
			</form>
		</div>
	
	<div class="row"><footer data-th-replace="~{fragments/footer::footer}"></footer></div>
</div>
<script data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>