<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	data-th-href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">

<title>Formulario Carreras</title>
</head>
<body>
	<div class="container">
	<div data-th-replace="~{fragments/header :: navbar}"></div>
		<h1>FORMULARIO CARRERA</h1>
		<form data-th-object="${nuevaCarrera}" 
		data-th-action="${band}?@{/modificarCarrera}:@{/guardarCarrera}" 
		method="post">
		
			<div class="col-sm-6">
				<label for="codigo" class="form-label">Codigo</label> 
				<input type="text" class="form-control"	id="codigo" data-th-field="*{codigo}" data-th-readonly=${band}>				
			</div>
			
			<div class="col-sm-6">
				<label for="nombre" class="form-label">Nombre Carrera</label>
				<input type="text" class="form-control"	id="nombre" data-th-field="*{nombre}">
			</div>
			
			<div class="col-sm-6">
				<label for="cantidad" class="form-label">Cantidad Años</label>
				<input type="number" class="form-control" id="cantidad" data-th-field="*{duracion}">
			</div>
			<!-- 
			<div class="col-sm-6">
				<label for="estado" class="form-label">Cantidad Años</label>
				<input type="text" class="form-control" id="estado" data-th-field="*{estado}">
			</div>
			 -->
			<div class="col-md-4">
                    <label class="form-label" for="fcurso">Estado</label>
                    <select data-th-field="*{estado}" class="form-control" required>
                        <option data-th-value="true">True</option>
                        <option data-th-value="false">False</option>
                        
                    </select>
                </div>
			
			<button type="submit" class="btn btn-primary">Guardar Carrera</button>
		</form>
		<div data-th-replace="~{fragments/footer :: footer}"></div>
	</div>

	<script
		data-th-src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>