<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	data-th-href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">

<title>Listado Carreras</title>
</head>
<body>
	<div class="container">
	
	<div class="row">
	<div class="card" style="width: 18rem;" data-th-each="carrera : ${listadoCarreras}">
  		<img src="..." class="card-img-top" alt="...">
	  	<div class="card-body">
			<h5 class="card-title" data-th-text="${carrera.nombre}"></h5>
			<p>Codigo</p><p class="card-text" data-th-text="${carrera.codigo}"></p>
			<p>Años</p><p class="card-text" data-th-text="${carrera.duracion}"></p>
			<a data-th-href="@{'/borrarCarrera/'+${carrera.codigo}}" class="btn btn-danger">Borrar</a>					
			<a data-th-href="@{'/modificarCarrera/'+${carrera.codigo}}" class="btn btn-warning" >Modificar</a>
		</div>
	</div></div>
	
	<!-- 
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th scope="col">Codigo</th>
	      <th scope="col">Nombre</th>
	      <th scope="col">Cantidad</th>
	      <th scope="col">Estado</th>
	      <th scope="col">Edición</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr data-th-each="carrera : ${listadoCarreras}">
	      <td data-th-text="${carrera.codigo}"></td>
	      <td data-th-text="${carrera.nombre}"></td>
	      <td data-th-text="${carrera.cantidadAnios}"></td>
	      <td data-th-text="${carrera.estado}"></td>
	      	<td>
				<a data-th-href="@{'/borrarCarrera/'+${carrera.codigo}}" class="btn btn-danger">Borrar</a>					
				<a data-th-href="@{'/modificarCarrera/'+${carrera.codigo}}" class="btn btn-warning" >Modificar</a>
			</td>
	    </tr>
	   </tbody>
	</table> -->
	</div>
<script	data-th-src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>